In [1]:
import pandas as pd
import requests

In [2]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [3]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [5]:
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,31.5196,8.712,28551
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,28.4770,8.688,21623
2,803796,KPop Demon Hunters,"When K-pop superstars Rumi, Mira and Zoey aren...",2025-06-20,216.3404,8.584,648
3,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,16.3272,8.571,13055
4,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,15.4819,8.566,16543

In [6]:
df = pd.DataFrame()

In [7]:
df

Empty DataFrame
Columns: []
Index: []

In [ ]:
for i in range(1,429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = df.append(temp_df,ignore_index=True)

In [9]:
df

Empty DataFrame
Columns: []
Index: []

In [10]:
df.shape

(0, 0)

In [11]:
df.to_csv('movies.csv')